@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
}

@theme {
  --color-nyt-yellow: #f9df6d;
  --color-nyt-green: #a0c35a;
  --color-nyt-blue: #b0c4ef;
  --color-nyt-purple: #ba81c5;
}
