@import "tailwindcss";

/* For headers similar to Connections category headers */
h1, h2, .nyt-conn-heading {
  font-family:
    "Merriweather",      /* elegant serif, slightly condensed */
    "Libre Baskerville",  /* good backup, readable */
    "Georgia",
    serif;
}

h3 .nyt-conn-subheading {
  font-family:
    "Franklin Gothic Medium",
    "Arial Narrow",
    Arial,
    sans-serif;
}

